  .login {

    padding: 150px 0;
    background-color: #0e1217;
    height: 100vh;
    color: white;
  }

  .buttonStyles {

    background-color: #bb8682;
    border-radius: 3px;
    color: white;
    padding: 10px 18px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    border: none;
    margin: 20px 0;
  }

  .text {

    width: 35%;
    margin: 15px auto;
    text-align: center;
  }